#frame{
    height:50%;
    width:100%;
    padding-top: 100px;
    padding-left: 600px;
    position: fixed;
}
body { font:12px/19px Arial, Helvetica, sans-serif; color:#666;}
form div { margin:5px 0;}
.sub { padding-left:100px;}
.sub input { margin-right:10px; width:150px;}
#tips{width:150px; height:20px;margin-top:0px;margin-bottom:0px;}
.int label { float:left; width:100px; text-align:right;height:20px;}
.int input { padding:1px 1px; border:1px solid #ccc;height:16px;width:150px;height:20px;}
.hide{
	display:none;
}


